<section class="d-flex justify-content-center align-items-center flex-column home-first-section">
    <p class="home-paragraph">
        We are proud of our products
    </p>
    <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=184,h=112,fit=crop/ensonrofc2/arrow-mk3ERn232OhB1KJV.png" alt="Scroll down indication">
</section>
<section class="home-second-section d-flex justify-content-center align-items-center">
    <div class="div-home-img">
        <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=948,h=816,fit=crop/ensonrofc2/PRODUCTS-mnlBRyawNkUM8vJ0.png" alt="">
    </div>
    <article class="div-home-text">
        <h4 class="mb-3">our products</h4>
        <h1 class="mb-5">Quality we stand by</h1>
        <p>
            Dietary supplements are taken for two purposes: health reason or for performance enhancement. 
            The most common nutrients for fitness supplements include protein, amino acids, minerals and vitamins and are used to enhance your diet overall.
        </p>
        <p>
            We wanted to make the best products to match these needs. 
            So, by using best ingredients and best practices, we achieved the best flavours – without any additional bullshit.
        </p>
    </article>
</section>
<section class="home-third-section">
    <article class="section-specs">
        <div class="row">
            <div class="div-specs col-6">
                <span>_</span>
                <h4>Premium ingredients</h4>
                <p>We only use premium ingredients by collaborating with the best providers in the world to ensure that Enson products bring the best results.</p>
            </div>
            <div class="div-specs col-6">
                <span>_</span>
                <h4>
                    Eco-friendly production
                </h4>
                <p>
                    We believe that it is the duty of the strong to care for this planet so we have opted for eco-friendly practices in our production.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="div-specs col-6">
                <span>_</span>
                <h4>Amazing flavours</h4>
                <p>We love great food. We love great taste. We believe that the products you use to enhance your diet should have amazing flavour as well.</p>
            </div>
            <div class="div-specs col-6">
                <span>_</span>
                <h4>No fillers</h4>
                <p>
                    We are not here to play - our supplements are filled only with ingredients which are needed to ensure the best performance. 
                </p>
            </div>
        </div>
    </article>
</section>
